* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    background: url("https://firebasestorage.googleapis.com/v0/b/md1125v3.appspot.com/o/Image_Folder_Do_Not_Show%2FBackground.jpg?alt=media&token=46cdb3a0-f119-45bb-a77a-cae5c2f70773"), #000;
    background-position: center;
    background-size: cover;
  }
  
  .wrapper {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .cta-button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
  }
  
  .footer {
    margin-top: 40px;
    color: #fff;
    font-size: 0.8rem;
  }
  